In [13]:
import pandas as pd
import numpy as np

In [2]:
pd.read_hdf('mydata.h5','obj3',where= ['index<5'])

          a
0  1.867870
1 -0.776393
2 -0.610066
3 -0.106936
4  1.425838

In [3]:
xlsx = pd.ExcelFile('F:/利用Python进行数据分析数据集/examples/ex1.xlsx')

In [4]:
xlsx

In [6]:
pd.read_excel(xlsx,'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [8]:
writer = pd.ExcelWriter('F:/利用Python进行数据分析数据集/examples/ex2.xlsx')

In [9]:
writer

In [15]:
frame = pd.DataFrame(np.random.randn(16).reshape((4,4)),columns = ['a','b','c','d'])

In [16]:
frame

          a         b         c         d
0 -0.403353  0.629110  0.093464 -0.850536
1  1.170861  0.003247  0.094204 -0.630750
2  0.671440  0.576070  1.430827 -0.391783
3  0.560627 -0.827430 -0.012372  0.337941

In [17]:
frame.to_excel(writer,'Sheet1')

In [18]:
writer.save()

In [19]:
import requests

In [20]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [21]:
resp = requests.get(url)

In [22]:
resp

In [23]:
data = resp.json()

In [25]:
data[0]['title']

'Backport PR #31684 on branch 1.0.x (BUG: string methods with NA)'

In [26]:
issues = pd.DataFrame(data,columns = ['number','title','labels','state'])

In [27]:
issues

,number,title,labels,state
0,32578,Backport PR #31684 on branch 1.0.x (BUG: strin...,[],open
1,32577,REG: Restore read_csv function for some file-l...,"[{'id': 47229171, 'node_id': 'MDU6TGFiZWw0NzIy...",open
2,32575,TST: Add tests for duplicated and drop_duplicates,[],open
3,32572,BUG: get_loc / get_indexer with NaT and tz-awa...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
4,32571,"TST: stricter tests, avoid check_categorical=F...",[],open
5,32570,CLN: avoid _internal_get_values in pandas._tes...,[],open
6,32569,Arithmetic doesn't broadcast when MultiIndex h...,"[{'id': 47223669, 'node_id': 'MDU6TGFiZWw0NzIy...",open
7,32568,PERF: copy cached attributes on index shallow_...,"[{'id': 1218227310, 'node_id': 'MDU6TGFiZWwxMj...",open
8,32566,Fix segfault in csv tokenizer (issue #28071),"[{'id': 47229171, 'node_id': 'MDU6TGFiZWw0NzIy...",open
9,32561,REGR: Expand ValueError catching in series agg...,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
10,32560,TST: Add extra test for pandas.to_numeric() fo...,"[{'id': 2822342, 'node_id': 'MDU6TGFiZWwyODIyM...",open
11,32559,date_range() : allowing argument closed to hav...,[],open
12,32558,BUG: pivot_table losing tz,[],open
13,32557,CLN: values_from_object in computation.pytables,[],open
14,32556,Dataframe.query uses numexpr even when 'comput...,[],open
15,32555,CLN: avoid _internal_get_values in Categorical...,"[{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...",open
16,32553,IntervalIndex raises TypeError on PrettyPrint,[],open
17,32552,Backport PR #32242 on branch 1.0.x (BUG: Fixed...,[],open
18,32551,DOC: Fix EX01 in pandas.DataFrame.idxmax,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
19,32550,Fix capitalization among headings in documenta...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
20,32549,DOC: Added docstring for Series.name and corre...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
21,32548,Add extra check for failing UTF-8 conversion,"[{'id': 1121248195, 'node_id': 'MDU6TGFiZWwxMT...",open
22,32547,CLN: remove unnecessary values_from_objects in...,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
23,32546,BUG: Dataframe.groupby aggregations with categ...,"[{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...",open
24,32544,Fix #31467: pd.ExcelFile closes stream on dest...,"[{'id': 49254273, 'node_id': 'MDU6TGFiZWw0OTI1...",open
25,32543,obj.fillna(fill_value) doesn't shallow copy if...,[],open
26,32542,ENH: Add `replace` method to `Index`,[],open
27,32539,DOC: Remove absolute urls from the docs,[],open
28,32538,ENH: IntegerArray.astype(dt64),[],open
29,32537,CLN: avoid values_from_object in reshape.merge,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open

In [28]:
import sqlite3

In [29]:
query = '''
CREATE TABLE test
(a varchar(20),b varchar(20),c real,d integer);
'''

In [30]:
con = sqlite3.connect('mydata.sqlite')

In [32]:
con.execute(query)

In [33]:
con.commit()

In [34]:
data = [('Atlanta','Georgia',1.25,6),('Tallahassee','Florida',2.6,3),('Sacramento','California',1.7,5)]

In [35]:
stmt = "INSERT INTO test VALUES(?,?,?,?)"

In [36]:
con.executemany(stmt,data)

In [38]:
con.commit()

In [39]:
cursor = con.execute('select * from test')

In [40]:
rows = cursor.fetchall()

In [41]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [42]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [43]:
pd.DataFrame(rows,columns = [x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [44]:
import sqlalchemy as sqla

In [45]:
db = sqla.create_engine('sqlite:///mydata.sqlite')

In [46]:
pd.read_sql('select * from test',db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [3]:
val = 'a,b,  guido'

In [4]:
val.split(',')

['a', 'b', '  guido']

In [5]:
pieces = [x.strip() for x in val.split(',')]

In [6]:
pieces

['a', 'b', 'guido']

In [7]:
a,b,c = pieces

In [8]:
a+"::"+b+"::"+c

'a::b::guido'

In [9]:
'::'.join(pieces)

'a::b::guido'

In [10]:
'guido' in val

True

In [11]:
val.index(",")

1

In [12]:
val.find(':')

-1

In [13]:
val.index(':')

ValueError: substring not found

In [14]:
val.replace(',','::')

'a::b::  guido'

In [15]:
val.replace(',','')

'ab  guido'

In [16]:
import re

In [17]:
text = "foo     bar\t baz   \tqux"

In [18]:
re.split('\s+',text)

['foo', 'bar', 'baz', 'qux']

In [20]:
regex = re.compile('\s+')

In [21]:
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [22]:
regex.findall(text)

['     ', '\t ', '   \t']

In [23]:
text ='''Dave dave@google.com
Steve steve@gamil.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
'''

In [24]:
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

In [25]:
regex = re.compile(pattern,flags = re.IGNORECASE)

In [26]:
regex .findall(text)

['dave@google.com', 'steve@gamil.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [27]:
m = regex.search(text)

In [28]:
m

In [29]:
text[m.start():m.end()]

'dave@google.com'

In [30]:
print(regex.match(text))

None

In [31]:
print(regex.sub('REDACTED',text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

In [32]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'

In [33]:
regex = re.compile(pattern,flags = re.IGNORECASE)

In [41]:
m = regex.match('wesm@bright.net')

In [42]:
m.groups()

('wesm', 'bright', 'net')

In [43]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gamil', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [45]:
print(regex.sub(r'Username:\1,Domain:\2,Suffix:\3',text))

Dave Username:dave,Domain:google,Suffix:com
Steve Username:steve,Domain:gamil,Suffix:com
Rob Username:rob,Domain:gmail,Suffix:com
Ryan Username:ryan,Domain:yahoo,Suffix:com

In [50]:
import numpy as np
import pandas as pd
data = {'Dave':'dave@google.com','Steve':'steve@gmail.com','Rob':'rob@gmail.com','Wes':np.nan}

In [51]:
data = pd.Series(data)

In [52]:
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [55]:
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [57]:
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [58]:
pattern

'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'

In [59]:
data.str.findall(pattern,flags = re.IGNORECASE)

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [60]:
matchs = data.str.match(pattern,flags = re.IGNORECASE)

In [62]:
matchs

Dave     True
Steve    True
Rob      True
Wes       NaN
dtype: object

In [66]:
data.str.get(2)

Dave       v
Steve      e
Rob        b
Wes      NaN
dtype: object

In [71]:
data.str[0]

Dave       d
Steve      s
Rob        r
Wes      NaN
dtype: object